<div class="container-fluid h-100">
<div class="row wrapper h-100">
 <!--menu left-->
       <div class="container-fluid">
         <div class="row h-100" >
           <!-- Menu-->
           <app-navbar-left class="col-md-2 p-0"></app-navbar-left>
           <!--End Menu-->
           <!-- Content Right -->
           <app-content-right class="col-md-9 ml-sm-auto col-lg-10"></app-content-right>
         <!--End Content right-->

 <!--box left-->

       <!--Box chat-->
       <div id="chat-box" class="sidenav p-3">
           <div class="chat h-100">
                <div class="title-chat  bg-dark text-white d-flex align-items-center">
                    <i class="fas fa-times mr-3" onclick="closeChatBox('#chat-box')"></i>
                    <div class="title-name">F.R.E.D Meassage</div>
                </div>
                <div class="area-chat">
                   <div class="rules" data-toggle="modal" data-target="#rules" onclick="closeChatBox('#chat-box')"><i class="fas fa-file-alt mr-1"></i> Rules</div>
                       <div class="example-chat d-flex align-items-center">
                           <img src="assets/images/KPMG.png" class="float-left  mr-3" alt="">
                           <div class="text">
                               <span class="d-block text-muted">3:28 PM</span>
                               <p class="hello">Hi Marvie! Great to see you here again!<br> Have a great day ahead :D</p>
                            </div>
                        </div>
                 </div>
                 <div class="input-chat d-flex align-items-center">
                    <input class="chats mr-2 ml-4" name="chat" id="chat" placeholder="Hello Guys..."><img src="assets/images/icon/ico_send.png" alt="">
                </div>
           </div>
        </div>
       <!--End box chat-->
       <!--end box left-->

       <!-- Modal Box-->
       <!--More Detail Profile modal box-->
   <div class="detail-member modal fade" id="moreDetailInforMember" tabindex="-1" role="dialog" aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body h-100">
               <div class="container-fluid h-100">
               <div class="row h-100">
               <div class="col-4 left">
                 <div class="member-infor-detail d-flex  justify-content-center">
                        <img src="./assets/images/avatar.jpg" alt="Avatar Mr-bean" class="avatar mr-4 border-danger">
                        <div class="more-detail">
                             <span class="profile title-profile d-block" data-profile="tax">Tax</span>
                             <div class="name d-block">Mr Bean</div>
                             <span class="position d-block">Director / 65001076</span>
                             <span class="sub-name text-muted">mrbean@</span>
                        </div>
                    </div>
                    <div class="dob py-3 contact-detail mt-5">
                        <div class="title">DOB</div>
                        <div class="dateofbirth">17 August</div>
                    </div>
                    <div class="contact py-3 contact-detail">
                        <div class="title">Contact</div>
                        <div class="list-number d-inline-block ">
                            <div class="number d-block">9876537</div>
                            <div class="number d-block">61234596</div>
                        </div>
                    </div>
                    <div class="top-favorite mt-5">
                        <div class=" mb-3 favarite-title" data-profile="tax">Top 3 Favorite Zones</div>
                       <!-- each favorite -->
                        <div class="each-favorite d-flex align-items-center">
                            <div class="title">GrabGo</div>
                            <div class="progress-bar mr-2" data-percent="90" data-profile="tax"></div>
                            <span class="number-percent " data-profile="tax"></span>
                        </div>
                        <!-- each favorite -->
                        <!-- each favorite -->
                        <div class="each-favorite d-flex align-items-center">
                            <div class="title">Fun</div>
                            <div class="progress-bar  mr-2" data-percent="60" data-profile="tax"></div>
                            <span class="number-percent " data-profile="tax"></span>
                        </div>
                        <!-- each favorite -->
                        <div class="each-favorite d-flex align-items-center">
                            <div class="title">Cafe</div>
                            <div class="progress-bar  mr-2" data-percent="45" data-profile="tax"></div>
                            <span class="number-percent " data-profile="tax"></span>
                        </div>
                        <!-- each favorite -->
                        <!-- each favorite -->
                        <div class="each-favorite d-flex align-items-center">
                            <div class="title">Cafe</div>
                            <div class="progress-bar  mr-2" data-percent="80" data-profile="tax"></div>
                            <span class="number-percent " data-profile="tax"></span>
                        </div>
                         <!-- button Send Email-->
                        <button class="btn btn-email btn-lg w-100 ">Email</button>
                </div>
                  </div>
                <!--Right modal box detail profile-->
               <div class="col-8 right">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Day <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                      <th scope="col">Time In <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                      <th scope="col">Zones <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                    <tr>
                      <th scope="row">3/24/12</th>
                      <td>0924 AM</td>
                      <td>Cafe, Grab & Go</td>
                    </tr>
                  </tbody>
                </table>
               </div>
               <!--End right modal box detail profile-->
            </div>
             </div>
           </div>
         </div>
       </div>
   </div>
   <!--More Detail Profile modal box-->
   <!--Rules-->
   <div class="detail-member modal fade rules-box" id="rules" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
               <div class="modal-body h-100">
                    <div class="title ml-5 mb-5">F.R.E.D Rules</div>
                    <div class="list-rule">
                    <table class="table table-striped">
                       <thead>
                         <tr>
                           <th scope="col"></th>
                           <th scope="col">Mai Condition <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                           <th scope="col">Description <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <th scope="row">1</th>
                           <td>1 visit_clubhouse</td>
                           <td>Hellop Tran! Welcome to KPMG Clubhouse!</td>
                         </tr>
                         <tr>
                           <th scope="row">2</th>
                           <td>Birthday</td>
                           <td>Happy Birthday Tram! Slice of Cafe on the house:)</td>
                         </tr>
                         <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                      <tr>
                           <th scope="row">3</th>
                           <td>> 10 visit_clubhouse</td>
                           <td>Hi Tran! Great to see uou again. Have a great day ahead :D</td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                   <div class="btn-create-rule btn-danger btn px-5 py-2 text-uppercase" data-toggle="modal" data-target="#create-rule"> create new rule</div>
              </div>
            </div>
          </div>
      </div>
   <!--End Modal box Rules-->
   <!--Create Rule modal-->
    <div class="detail-member modal fade rules-box" id="create-rule" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-create-rule">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
           <div class="modal-body h-100">
                <div class="title ml-5 mb-5 text-capitalize"><img src="assets/images/icon/ico_left_slide.png" class="mr-3 back" alt="" onclick="closeFormCreate()">Rule Informations</div>
                <div class="form-create">
                    <div class="form-group d-flex">
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="selectConditior">
                            <option selected>select Main Condition</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Another World</option>
                         </select>
                         <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="selectPrequislte">
                            <option selected>Select Prerequislte</option>
                            <option value="1">Essential</option>
                            <option value="2">Requirement</option>
                            <option value="3">Necessity</option>
                         </select>
                         <input type="text" name="txtCondition" placeholder="Enter Additional Condition">
                    </div>
                    <label for="content">Content <span class="text-primary">(see more variables)</span></label>
                    <textarea class="form-control"></textarea>
               </div>
               <div class="btn-add btn-danger btn px-5 py-2 text-uppercase">Add</div>
          </div>
        </div>
      </div>
    </div>
   <!--End Create Rule modal-->
   <!-- End Modal Box-->
</div>
 <!--End menu left-->
</div>
</div>
</div>
