<div class="rules" data-toggle="modal" data-target="#rules" onclick="closeChatBox('#chat-box')"><i class="fas fa-file-alt mr-1"></i> Rules</div>
  <!--Rules-->
 <div class="detail-member modal fade rules-box" id="rules" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body h-100" id="modalbox-rules">
                 <div class="title ml-5 mb-5">F.R.E.D Rules</div>
                 <div class="list-rule">
                     <table class="table table-striped">
                         <thead>
                             <tr>
                                 <th scope="col"></th>
                                 <th scope="col">Main Condition <img src="./../../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                                 <th scope="col">Description <img src="./../../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                             </tr>
                         </thead>
                         <tbody>
                         <ng-container *ngFor="let item of rules">
                             <tr>
                                 <th scope="row">{{item.id}}</th>
                                 <td>{{item.main_condition}}</td>
                                 <td>{{item.content}}</td>
                             </tr>
                          </ng-container>
                         </tbody>
                     </table>
                 </div>
                 <div class="btn-create-rule btn-danger btn px-5 py-2 text-uppercase" data-toggle="modal" data-target="#create-rule" (click)="getConditions()"> create new rule</div>
             </div>
         </div>
     </div>
 </div>
 <!--End Modal box Rules-->
 <!--Create Rule modal-->
         <div class="detail-member modal fade rules-box" id="create-rule" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-create-rule">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div class="modal-body h-100">
                         <div class="title ml-5 mb-5 text-capitalize" id="rules-informaition"><img src="./../../../../../../../assets/images/icon/ico_left_slide.png" class="mr-3 back" alt="" onclick="closeFormCreate()" >Rule Informations</div>
                         <div class="form-create">
                             <div class="form-group d-flex">
                                 <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="selectConditior">
                                     <option selected>select Main Condition</option>
                                     <ng-container *ngFor="let item of condition">
                                     <option value="{{item.variable}}">{{item.variable}}</option>
                                     </ng-container>
                                 </select>
                                 <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="selectPrequislte">
                                     <option selected>Select Prerequislte</option>
                                     <ng-container *ngFor="let item of operatorr">
                                     <option value="{{item.operator}}">{{item.operator}}</option>
                                    </ng-container>
                                 </select>
                                 <input type="text" name="txtCondition" class="form-control" placeholder="Enter Additional Condition">
                             </div>
                             <label for="content"  style="font-weight: bold">Content <span class="text-primary">(see more variables)</span></label>
                             <textarea class="form-control" placeholder="Enter content..." rows="3"></textarea>
                         </div>
                         <div class="btn-add btn-danger btn px-5 py-2 text-uppercase" (click)="addRules()">Add</div>
                     </div>
                 </div>
        </div>
</div>
