                    <div class="show-content-right mt-5">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item ">
                                <a class="nav-link active text-uppercase" id="live-tab" data-toggle="tab" href="#live" role="tab" aria-controls="home" aria-selected="true" data-title="User Settings">user settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="zone-tab" data-toggle="tab" href="#zone" role="tab" aria-controls="profile" aria-selected="false" data-title="Zone Setting">zone settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="yitu-tab" data-toggle="tab" href="#yitu" role="tab" aria-controls="profile" aria-selected="false" data-title="Yitu Log">Yitu Log</a>
                            </li>
                             <li class="position-absolute" style="right:10px;top:-10px;">
                                  <app-chat></app-chat>
                             </li>
                        </ul>
                        <div class="tab-content  d-flex align-items-center " id="myTabContent">

                            <div class="tab-pane fade show active m-auto text-center w-100" id="live" role="tabpanel" aria-labelledby="live-tab">
                                <div class="content-table" id="content-table">
                                    <div>
                                        <button type="button" class="btn btn-edit m-2" style="float: right" data-toggle="modal" data-target="#myModal" (click)="getRole()"><i class="fa fa-plus"></i> Add New User</button>
                                    </div>

                                    <div style=" margin-bottom: 33px;">
                                        <table class="table table_setting" style="margin-top: 10px;width: 95%" id="table_user">
                                            <thead>
                                            <tr>
                                                <th style="width: 9%"># <img  class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th>Name <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th>Email <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th>Permission <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th>Created At <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <ng-container *ngFor="let user of users">
                                            <tr>
                                                <td>
                                                    {{user.id}}
                                                </td>
                                                <td>
                                                    {{user.full_name}}
                                                </td>
                                                <td>
                                                    {{user.email}}
                                                </td>
                                                <td>
                                                    permission
                                                </td>
                                                <td>
                                                    {{user.created_at}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-edit" (click)="getUserById(user.id)" data-toggle="modal" data-target="#myModal_updateUSer"><i class="fa fa-edit" ></i> Edit</button>
                                                    <button type="button" class="btn btn-sm btn-delete" (click)="deleteUser(user.id)"><i class="fa fa-times"> Delete</i></button>
                                                </td>
                                            </tr>
                                           </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="navigation-table-content" style="width: 95%">
                                        <a class="caret next" id="next_user"><i style="font-size: 20px;float: right; color: #f0c9d6" class="fa fa-caret-right ic_next next_hover m-2"></i></a>
                                        <span class="pagin m-2" id="pagin_user" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
                                        <a class="caret prev" id="prev_user"><i style="font-size: 20px;float: right; color: #f0c9d6;" class="fa fa-caret-left ic_prev m-2"></i></a>
                                        <br>
                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade m-auto text-center w-100" id="zone" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="content-table">
                                    <div>
                                        <button type="button" class="btn btn-edit m-2" style="float: right" data-toggle="modal" data-target="#modalZone" (click)="getTagAll()"><i class="fa fa-plus"></i> Add New Zone</button>
                                    </div>
                                    <div style="width: 95%; margin-bottom: 33px;">
                                        <table class="table table_setting" style="margin-top: 10px;" id="table_zone">
                                            <thead>
                                            <tr>
                                                <th style="width: 9%;"># <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th>Code <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th>Name <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                <th style="width: 18%;">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <ng-container *ngFor="let zone of zones  ">
                                            <tr>
                                                <td>
                                                    {{zone.id}}
                                                </td>
                                                <td>
                                                    {{zone.code}}
                                                </td>
                                                <td>
                                                    {{zone.name}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-update"><i class="fa fa-edit" ></i> Update</button>
                                                    <button type="button" class="btn btn-sm btn-delete"><i class="fa fa-times" (click)="deleteZone(zone.id)"> Delete</i></button>
                                                </td>
                                            </tr>
                                            </ng-container>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="width: 95%" class="navigation-table-content">
                                        <a class="caret next" id="next_zone"><i style="font-size: 20px;float: right; color: #f0c9d6" class="fa fa-caret-right ic_next next_hover m-2"></i></a>
                                        <span class="pagin m-2" id="pagin_zone" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
                                        <a class="caret prev" id="prev_zone"><i style="font-size: 20px;float: right; color: #f0c9d6;" class="fa fa-caret-left ic_prev m-2"></i></a>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade m-auto text-center w-100" id="yitu" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="content-table">
                                    <div class="box_history mt-4">
                                        <div class="box-header" style="text-align: left">
                                            <h3 class="m-3" style="display: inline-block">History</h3>
                                        </div>
                                            <div style="margin-bottom: 33px;">
                                                <table datatable class="table table_setting" style="margin-top: 10px;" id="table_yitu"  >
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 9%;"># <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                        <th>Session Id <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                        <th>Url <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                        <th style="width: 14%">Time Request <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                        <th style="width: 14%">Time Respone <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                      <!-- <th>Content <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>-->
                                                        <th>Create At <img class="cursor_img" src="./../../../../../../assets/images/icon/ico_sort.png"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <ng-container *ngFor="let item of listYitu" >
                                                      <tr>
                                                          <td>
                                                              {{item.id}}
                                                          </td>
                                                          <td>
                                                              {{item.session_id}}
                                                          </td>
                                                          <td>
                                                              {{item.url}}
                                                          </td>
                                                          <td>
                                                              {{item.time_request}}
                                                          </td>
                                                          <td>
                                                              {{item.time_response}}
                                                          </td>
                                                          <!-- <td>
                                                              {{item.content}}
                                                           </td>-->

                                                          <td>
                                                             {{item.created_at}}
                                                          </td>
                                                      </tr>
                                                  </ng-container>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="navigation-table-content">
                                                <a class="caret next" id="next_yitu"><i style="font-size: 20px;float: right; color: #f0c9d6" class="fa fa-caret-right ic_next next_hover m-2"></i></a>
                                                <span class="pagin m-2" id="pagin_yitu" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
                                                <a class="caret prev" id="prev_yitu"><i style="font-size: 20px;float: right; color: #f0c9d6;" class="fa fa-caret-left ic_prev m-2"></i></a>
                                                <br>
                                                <br>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End show content-->
                        <!--End content right-->
                    </div>

<!--Modal box Add User-->
      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="display: inline-block;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">User Settings</h2>
                    </div>
                    <div class="modal-body">
                        <div id="addForm" style="width: 100%">
                            <div class="row p-4">
                                <div class="col-md-6 box add_user">
                                        <div class="">
                                            <div class="box-header p-2 pt-3 pb-3">
                                                <h3 class="box-title update">
                                                    Add New User
                                                </h3>
                                            </div>
                                            <input type="hidden" id="id" value="">
                                            <div class="box-body m-2">
                                                <div class="form-group">
                                                    <label>Full name</label>
                                                    <input type="text" name="full_name" class="form-control"  placeholder="Full name" [(ngModel)]="adUser.full_name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone number</label>
                                                    <input type="number" name="phone" class="form-control" placeholder="Phone number" [(ngModel)]="adUser.phone">
                                                </div>
                                                <div class="form-group email">
                                                    <label>Email</label>
                                                    <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="adUser.email">
                                                </div>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" name="password" class="form-control" [(ngModel)]="adUser.password" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="box-footer">

                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-5 box add_user offset-md-1">
                                        <div class="">
                                            <div class="box-header p-2 pt-3 pb-3">
                                                <h3 class="box-title update">
                                                    Permisson For User
                                                </h3>
                                            </div>
                                            <div class="box-body m-2">
                                                <label>
                                                    Permission list: (<a href="#" id="select_all">Select all</a>)
                                                </label>
                                                <div id="list-permission">
                                                <ng-container *ngFor="let role of roles">
                                                    <div class="checkbox del_per" id="check-sample-permission">
                                                        <label>
                                                            <input class="check-permission " type="checkbox" name="permission[]" value="{{role.id}}">
                                                            <span>{{role.name}}</span>
                                                            <code>{{role.description}}</code>
                                                        </label>
                                                    </div>
                                                   </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addUser()">Add User</button>
                    </div>
                </div>

            </div>
        </div>
<!--End Modal box add user-->
<!--Modal box Update User-->
      <div class="modal fade" id="myModal_updateUSer" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="display: inline-block;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">User Settings</h2>
                    </div>
                    <div class="modal-body">
                        <div id="addForm" style="width: 100%">
                            <div class="row p-4">
                                <div class="col-md-6 box add_user">
                                        <div class="">
                                            <div class="box-header p-2 pt-3 pb-3">
                                                <h3 class="box-title update">
                                                    Update User
                                                </h3>
                                            </div>
                                            <input type="hidden" id="id" value="">
                                            <div class="box-body m-2">
                                                <div class="form-group">
                                                    <label>Full name</label>
                                                    <input type="text" name="full_name" class="form-control"  placeholder="Full name" [(ngModel)]="upUser.full_name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone number</label>
                                                    <input type="number" name="phone" class="form-control" placeholder="Phone number" [(ngModel)]="upUser.phone">
                                                </div>
                                                <div class="form-group email">
                                                    <label>Email</label>
                                                    <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="upUser.email">
                                                </div>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" name="password" class="form-control" [(ngModel)]="upUser.password" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="box-footer">

                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-5 box add_user offset-md-1">
                                        <div class="">
                                            <div class="box-header p-2 pt-3 pb-3">
                                                <h3 class="box-title update">
                                                    Permisson For User
                                                </h3>
                                            </div>
                                            <div class="box-body m-2">
                                                <label>
                                                    Permission list: (<a href="#" id="select_all">Select all</a>)
                                                </label>
                                                <div id="list-permission-update">
                                                <ng-container *ngFor="let role of roles">
                                                    <div class="checkbox del_per" id="check-sample-permission">
                                                        <label>
                                                            <input class="check-permission " type="checkbox" name="permission[]"  value="{{role.id}}">
                                                            <span>{{role.name}}</span>
                                                            <code>{{role.description}}</code>
                                                        </label>
                                                    </div>
                                                   </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateUser()" >Update</button>
                    </div>
                </div>

            </div>
        </div>
<!--End Modal box Update user-->

        <div class="modal fade" id="modalZone" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="display: inline-block;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Zone Settings</h2>
                    </div>
                    <div class="modal-body">
                        <form id="addForm" style="width: 100%">
                                <div class="col-md-12 box add_user">
                                    <div class="">
                                        <div class="box-header p-2 pt-3 pb-3">
                                            <h3 class="box-title update">
                                                Add Zone
                                            </h3>
                                        </div>
                                        <input type="hidden" id="id" value="">
                                        <div class="box-body m-2">
                                            <div class="form-group">
                                                <label>Code</label>
                                                <input type="text" name="code" id="code_zone" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="name" id="name_zone" class="form-control">
                                            </div>
                                            <div class="form-group email">
                                                <label>Description</label>
                                                <textarea name="description" id="description" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group tag" id="tag-setting">
                                                <label class="d-block">Preference Tags </label>
                                                 <div class="ui multiple search selection dropdown" id="multi-select-tag">
                                                   <input type="hidden" name="profile" #getdata>
                                                   <div class="default text">Choose...</div>
                                                   <div class="menu"  >
                                                   <ng-container *ngFor="let tag of tags">
                                                       <div class="item item-tag" [attr.data-value]="tag.key">{{tag.name}}</div>
                                                    </ng-container>
                                                   </div>
                                                   </div>
                                            </div>
                                            <div class="form-group">
                                                <label style="display: none" id="plus_score">Plus Score For Tags</label>
                                                <div id="result">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Add Zone</button>
                    </div>
                </div>

            </div>
        </div>
