<div class="content-top d-flex align-content-center">
   <div class="d-block mr-2 search-btn"><i class="fas fa-search fa-2x bg-transparent" id="icon-search"></i></div>
   <div class="ui multiple search selection dropdown" id="multi-select">
     <input type="hidden" name="profile">
     <div class="default text">Choose Profile...</div>
     <div class="menu">
         <div class="item" data-value="audit" data-profile="audit">Audit</div>
         <div class="item" data-value="tax" data-profile="tax">Tax</div>
         <div class="item" data-value="advisory" data-profile="advisory">Advisory</div>
         <div class="item" data-value="centralsrv" data-profile="centralsrv">Central Srv</div>
     </div>
     </div>
 </div>
