<div class="content-top d-flex align-content-center">
   <div class="d-block mr-2 search-btn"><img src="./../../../../../assets/images/icon/search.png" alt="icon search" id="icon-search"></div>
   <div class="ui multiple search selection dropdown" id="multi-select">
     <input type="hidden" name="profile">
     <div class="default text">Choose ...</div>
     <div class="menu">
         <div class="item" data-value="audit" data-profile="">Audit</div>
         <div class="item" data-value="tax" data-profile="">Tax</div>
         <div class="item" data-value="advisory" data-profile="">Advisory</div>
         <div class="item" data-value="centralsrv" data-profile="">Central Srv</div>
     </div>
     </div>
 </div>
