.dot{
  background-color: #c7007d;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.img{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-bottom: 20px;
}
.table tbody tr td {
  padding-bottom: 0px;
}
.table th{
  border-top: none;
}
.table tbody tr td img{
  border: 2px solid #007bff;
}
.next_hover:hover, .prev_hover:hover{
  color: #eb2d89 ;
}
.table tbody tr:hover{
  background-color: #ebe7e7 ;

}
.mail{
  width: 35px;
  height: 35px;
  background-color: #d4d2d2;
  text-align: center;
  cursor: pointer;
}
.modal-header{
  display: inline-block;
}
.blue_item_top{
  background-color: #007bff;
  width: 5px;
  height: 53px;
  margin-top: 70px
}
.blue_item{
  background-color: #007bff;
  width: 5px;
  height: 53px;
  margin-top: 5px;
}
.yellow_item{
  background-color: #ffc107;
  width: 5px;
  height: 53px;
  margin-top: 5px;
}
.pink_item{
  background-color: #c7007d;
  width: 5px;
  height: 53px;
  margin-top: 5px
}
#nav{
  display: none;
}
#search{
  z-index: 100;
}
.content-table{
  overflow-y: hidden;
  position: relative;
}

.navigation-table-content{
  position: absolute;
  z-index: 100;
  display: block;
  bottom: 1px;
  right: 30px;
}
.navigation-table-content i{
  cursor: pointer;
}
