  <h1 class="title"> {{title}}</h1>
<div class="content-top d-flex align-content-center">
   <div class="d-block mr-2 search-btn"><img src="./../../../../../assets/images/icon/search.png" alt="icon search" id="icon-search" (click)="getFunctionSearch(getdata.value)"></div>
   <div class="ui multiple search selection dropdown" id="multi-select">
     <input type="hidden" name="profile" #getdata>
     <div class="default text">Choose...</div>
     <div class="menu"  >
     <ng-container *ngFor="let item of allFunction">
         <div class="item" [attr.data-value]="item.key"  [attr.data-color]="item.value" [id]="item.value">{{item.key}}</div>
      </ng-container>
     </div>
     </div>
 </div>

<div class="show-content-right mt-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
              <a class="nav-link text-uppercase active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="profile" aria-selected="true">OVERVIEW</a>
          </li>
           <li class="position-absolute" style="right:10px;top:-10px;">
               <app-chat></app-chat>
           </li>

      </ul>
      <div class="tab-content rounded" id="myTabContent">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab" >
              <div class="content-table" id="content-table">
                  <div style="display: inline-block;vertical-align: top;">
                      <div class="blue_item_top"></div>
                      <div class="pink_item"></div>
                      <div class="blue_item"></div>
                      <div class="yellow_item"></div>
                      <div class="pink_item"></div>
                      <div class="pink_item"></div>
                      <div class="pink_item"></div>
                      <div class="blue_item"></div>
                      <div class="yellow_item"></div>
                      <div class="yellow_item"></div>
                  </div>
                  <div style="width: 95%;display: inline-block">
                      <table class="table" style="margin-top: 10px;" id="table">
                          <thead>
                          <tr>
                              <th style="padding-left: 65px;">Staff Name <img src="./../../../../../../../src/assets/images/icon/ico_sort.png"></th>
                              <th>DOB <img src="./../../../../../../../src/assets/images/icon/ico_sort.png"></th>
                              <th>Join Date <img src="./../../../../../../../src/assets/images/icon/ico_sort.png"></th>
                              <th>Dept <img src="./../../../../../../../src/assets/images/icon/ico_sort.png"></th>
                              <th>Function <img src="./../../../../../../../src/assets/images/icon/ico_sort.png"></th>
                              <th>Top Zones <img src="./../../../../../../../src/assets/images/icon/ico_sort.png"></th>
                              <th></th>
                          </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of listCustomer">
                                  <td style="padding-left: 50px;">
                                      <div class="rounded-circle dot"></div>
                                      <img src="./../../../../../../../src/assets/images/avatar.jpg" class="rounded-circle img">
                                      <div style="display: inline-block; margin-left: 10px;">
                                          <span>{{item.name}}</span>
                                          <span style="color: #c5c0c0; display: block">{{item.department}} /{{item.person_id}} </span>
                                      </div>
                                  </td>
                                  <td>
                                      {{item.birthday}}
                                  </td>
                                  <td>
                                      {{item.join_date}}
                                  </td>
                                  <td>
                                      {{item.title}}
                                  </td>
                                  <td>
                                      {{item.office_location}}
                                  </td>
                                  <td>
                                      {{item.topzone}}
                                  </td>
                                  <td style="opacity: 0">
                                      <div class="rounded-circle mail" data-toggle="modal" data-target="#modal-mail">
                                          <img style="margin-top: 10px;border: none" src="./../../../../../../../src/assets/images/icon/ico_mail_black.png">
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div style="width: 95%" class="navigation-table-content">
                      <a class="caret next"><i style="font-size: 20px;float: right; color: #f0c9d6" class="fa fa-caret-right ic_next next_hover"></i></a>
                      <span class="pagin" style="float: right;margin: 0px 10px 0px">Page 1 of 10</span>
                      <a class="caret prev"><i style="font-size: 20px;float: right; color: #f0c9d6;" class="fa fa-caret-left ic_prev"></i></a>
                      <br>
                      <br>
                  </div>
              </div>

          </div>
      </div>
      <div class="modal fade" id="modal-mail">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">New Mail</h4>
                  </div>
                  <div class="modal-body">
                      <textarea name="editor1"></textarea>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="send-mail">Send</button>
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- End show content-->
      <!--End content right-->
  </div>
