<img src="./assets/images/avatar.jpg" class="avatar avatar-office mr-2"  alt="Avatar image" onclick="openNav('#member-detail'),closeNav('#list-profile')"  >

<div id="member-detail" class="sidenav w-100">
            <div class="sideBarSearch d-flex justify-content-end m-5">
                <a href="javascript:void(0)" class="closebtn d-inline-block text-secondary" onclick="closeNav('#member-detail')">×</a>
            </div>
            <div class="p-5" >
                <div class="member-infor-detail d-flex" >
                    <img src="./../../../../../../assets/images/avatar.jpg" alt="Avatar Mr-bean" class="avatar mr-3 border-danger">
                    <div class="more-detail text-left">
                        <span class="profile title-profile d-block h4 m-0" data-profile="tax" style="color: rgb(188, 31, 74);">{{infor.office_location}}</span>
                        <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                        <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                        <span class="sub-name h4 m-0">{{infor.email}}</span>
                    </div>
                </div>
                <div class="dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
                    <div class="title mr-4">DOB</div>
                    <div class="dateofbirth bold">{{infor.birthday}}</div>
                </div>
                <div class="contact py-3 contact-detail h4 d-flex justify-content-center">
                    <div class="title mr-4">Contact</div>
                    <div class="list-number d-inline-block">
                        <div class="number bold d-block">{{infor.contract_no}}</div>
                        <div class="number bold d-block">61234596</div>
                    </div>
                </div>
                <div class="top-favorite mt-4">
                    <div class="my-4 favarite-title h4 text-left" data-profile="tax" style="color: rgb(188, 31, 74);">Top 3 Favorite Zones</div>
                    <!-- each favorite -->
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">GrabGo</div>
                        <div class="progress-bar mr-2" data-percent="90" data-profile="tax" style="width: 90px;"></div>
                        <span class="number-percent" data-profile="tax" style="color: rgb(188, 31, 74);"> 90 %</span>
                    </div>
                    <!-- each favorite -->
                    <!-- each favorite -->
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">Fun</div>
                        <div class="progress-bar  mr-2" data-percent="60" data-profile="tax" style="width: 60px; background-color: rgb(188, 31, 74);"></div>
                        <span class="number-percent" data-profile="tax" style="color: rgb(188, 31, 74);"> 60 %</span>
                    </div>
                    <!-- each favorite -->
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">Cafe</div>
                        <div class="progress-bar  mr-2" data-percent="45" data-profile="tax" style="width: 45px; background-color: rgb(188, 31, 74);"></div>
                        <span class="number-percent" data-profile="tax" style="color: rgb(188, 31, 74);"> 45 %</span>
                    </div>
                    <!-- each favorite -->

                    <!-- each favorite -->
                </div>
                <!-- button Send Email-->
                <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMember" onclick="closeNav('#member-detail')" style="font-size: 14px;" (click)="getZonePerson()">
                    More Details
                    <img class="ml-3" src="./../../../../../../assets/images/icon/ico_right_slide.png" alt="">
                </div>
                <!-- button Send Email-->
            </div>
        </div>
<!--Modal Box detail porfile-->
 <!--More Detail Profile modal box-->
        <div class="detail-member modal fade" id="moreDetailInforMember" tabindex="-1" role="dialog" aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 m-4 pr-5">
                        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body h-100 p-0">
                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col-4 left">
                                    <div class="p-5 border-right" >
                                        <div class="member-infor-detail d-flex" >
                                            <img src="./../../../../../../assets/images/avatar.jpg" alt="Avatar Mr-bean" class="avatar mr-4 border-danger">
                                            <div class="more-detail text-left">
                                                <span class="profile title-profile d-block h4 m-0" data-profile="tax">{{infor.office_location}}</span>
                                                <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                                                <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                                                <span class="sub-name text-muted h4 m-0">{{infor.email}}</span>
                                            </div>
                                        </div>
                                        <div class="dob py-3 contact-detail mt-4 h4">
                                            <div class="title mr-4">DOB</div>
                                            <div class="dateofbirth bold">17 August</div>
                                        </div>
                                        <div class="contact py-3 contact-detail h4">
                                            <div class="title mr-4">Contact</div>
                                            <div class="list-number d-inline-block bold">
                                                <div class="number d-block">9876537</div>
                                                <div class="number d-block">61234596</div>
                                            </div>
                                        </div>
                                        <div class="top-favorite mt-4">
                                            <div class="my-4 favarite-title h4" data-profile="tax">Top 3 Favorite Zones</div>
                                            <!-- each favorite -->
                                            <div class="each-favorite d-flex align-items-center h5">
                                                <div class="title">GrabGo</div>
                                                <div class="progress-bar mr-2" data-percent="90" data-profile="tax"></div>
                                                <span class="number-percent" data-profile="tax"></span>
                                            </div>
                                            <!-- each favorite -->
                                            <!-- each favorite -->
                                            <div class="each-favorite d-flex align-items-center h5">
                                                <div class="title">Fun</div>
                                                <div class="progress-bar  mr-2" data-percent="60" data-profile="tax"></div>
                                                <span class="number-percent" data-profile="tax"></span>
                                            </div>
                                            <!-- each favorite -->
                                            <div class="each-favorite d-flex align-items-center h5">
                                                <div class="title">Cafe</div>
                                                <div class="progress-bar  mr-2" data-percent="45" data-profile="tax"></div>
                                                <span class="number-percent" data-profile="tax"></span>
                                            </div>
                                            <!-- each favorite -->

                                        </div>
                                        <!-- button Send Email-->
                                        <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                                        <!-- button Send Email-->
                                    </div>
                                </div>
                                <!--Right modal box detail profile-->
                                <div class="col-8 right">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Day <img src="./../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Time In <img src="./../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Zones <img src="./../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let log of logs ">
                                                <th scope="row">{{log.ngay}}</th>
                                                <td>{{log.gio}}</td>
                                                <td>{{log.zone_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End right modal box detail profile-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--More Detail Profile modal box-->
