<img src="./assets/images/avatar.jpg" class="avatar avatar-office mr-2"  alt="Avatar image" onclick="openNav('#member-detail'),closeNav('#list-profile')">

<div id="member-detail" class="sidenav w-100">
            <div class="sideBarSearch d-flex justify-content-end m-5">
                <a href="javascript:void(0)" class="closebtn d-inline-block text-secondary" onclick="closeNav('#member-detail')">×</a>
            </div>
            <div class="p-5">
                <div class="member-infor-detail d-flex">
                    <img src="./../../../../../../assets/images/avatar.jpg" alt="Avatar Mr-bean" class="avatar mr-4 border-danger">
                    <div class="more-detail text-left">
                        <span class="profile title-profile d-block h4 m-0" data-profile="tax" style="color: rgb(188, 31, 74);">Tax</span>
                        <div class="name d-block font-weight-bold h1 m-0">Mr Bean</div>
                        <span class="position d-block h4 m-0">Director / 65001076</span>
                        <span class="sub-name text-muted h4 m-0">mrbean@</span>
                    </div>
                </div>
                <div class="dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
                    <div class="title mr-4">DOB</div>
                    <div class="dateofbirth">17 August</div>
                </div>
                <div class="contact py-3 contact-detail h4 d-flex justify-content-center">
                    <div class="title mr-4">Contact</div>
                    <div class="list-number d-inline-block">
                        <div class="number d-block">9876537</div>
                        <div class="number d-block">61234596</div>
                    </div>
                </div>
                <div class="top-favorite mt-4">
                    <div class="my-4 favarite-title h4 text-left" data-profile="tax" style="color: rgb(188, 31, 74);">Top 3 Favorite Zones</div>
                    <!-- each favorite -->
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">GrabGo</div>
                        <div class="progress-bar mr-2" data-percent="90" data-profile="tax" style="width: 90px;"></div>
                        <span class="number-percent" data-profile="tax" style="color: rgb(188, 31, 74);"> 90 %</span>
                    </div>
                    <!-- each favorite -->
                    <!-- each favorite -->
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">Fun</div>
                        <div class="progress-bar  mr-2" data-percent="60" data-profile="tax" style="width: 60px; background-color: rgb(188, 31, 74);"></div>
                        <span class="number-percent" data-profile="tax" style="color: rgb(188, 31, 74);"> 60 %</span>
                    </div>
                    <!-- each favorite -->
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">Cafe</div>
                        <div class="progress-bar  mr-2" data-percent="45" data-profile="tax" style="width: 45px; background-color: rgb(188, 31, 74);"></div>
                        <span class="number-percent" data-profile="tax" style="color: rgb(188, 31, 74);"> 45 %</span>
                    </div>
                    <!-- each favorite -->

                    <!-- each favorite -->
                </div>
                <!-- button Send Email-->
                <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMember" onclick="closeNav('#member-detail')" style="font-size: 14px;">
                    More Details
                    <img class="ml-3" src="./../../../../../../assets/images/icon/ico_right_slide.png" alt="">
                </div>
                <!-- button Send Email-->
            </div>
        </div>
