<nav class="d-md-block sidebar menu-left d-flex align-content-center h-100 px-2" id="menuLeft">
            <div class="brands-kpmg d-block py-4 px-5">
                <a class="name-brands text-white h1" routerLink="dashboard">
                    KPMG<br />Clubhouse
                </a>
                <div class="sologan-brands text-white mx-3  h4">
                    ppc admin portal
                </div>
            </div>
            <div class="sidebar-sticky list-menu mt-5 pt-5">
                 <ul class="nav flex-column">
                <li class="nav-item m-2 active">
                    <a class="nav-link  p-3 text-white" routerLink="dashboard">
                        <img src="./../../../../assets/images/menu/home_normal.png" alt="" class="mr-3 col-2 p-0 icon-nav" data-link-normal="./../../../../assets/images/menu/home_normal.png" data-link-active="./../../../../assets/images/menu/home_click.png" >
                        Dashboard
                    </a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link  p-3 text-white" routerLink="staff">
                    <img src="./../../../../assets/images/menu/staff_normal.png" alt="" class="mr-3 col-2 p-0 icon-nav"  data-link-normal="./../../../../assets/images/menu/staff_normal.png" data-link-active="./../../../../assets/images/menu/staff_click.png" >
                        Staff
                    </a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link  p-3 text-white" routerLink="feeds">
                        <img src="./../../../../assets/images/menu/fred_normal.png" alt="" class="mr-3 col-2 p-0 icon-nav" data-link-normal="./../../../../assets/images/menu/fred_normal.png" data-link-active="./../../../../assets/images/menu/fred_click.png">
                        F.R.E.D
                    </a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link  p-3 text-white" routerLink="setting">
                        <img src="./../../../../assets/images/menu/setting_normal.png" alt="" class="mr-3 col-2 p-0  icon-nav" data-link-normal="./../../../../assets/images/menu/setting_normal.png" data-link-active="./../../../../assets/images/menu/setting_click.png">
                        Settings
                    </a>
                </li>
            </ul>
      </div>
</nav>
