  <h1 class="title"> {{title}}</h1>
<div class="content-top d-flex align-content-center">
   <div class="d-block mr-2 search-btn"><img src="./../../../../../assets/images/icon/search.png" alt="icon search" id="icon-search" (click)="getFunctionSearch(getdata.value)"></div>
   <div class="ui multiple search selection dropdown" id="multi-select">
     <input type="hidden" name="profile" #getdata>
     <div class="default text">Choose...</div>
     <div class="menu"  >
     <ng-container *ngFor="let item of allFunction">
         <div class="item" [attr.data-value]="item.key"  [attr.data-color]="item.value" [id]="item.value">{{item.key}}</div>
      </ng-container>
     </div>
     </div>
 </div>

<div class="show-content-right mt-5 mr-4">
  <ul class="nav nav-tabs fontsize-panel" id="myTab" role="tablist">
     <li class="nav-item" (click)="setTitleLive()">
        <a class="nav-link active text-uppercase" id="live-tab" data-toggle="tab" href="#live" role="tab" aria-controls="home" aria-selected="false"> <i class="fas fa-eye mr-2"></i>LIVE</a>
    </li>
     <li class="nav-item" (click)="setTitleTimeZone()">
         <a class="nav-link text-uppercase" id="overview-tab" data-toggle="tab"  href="#overview" role="tab" aria-controls="profile"  aria-selected="true">OVERVIEW</a>
     </li>
      <li class="position-absolute" style="right:10px;top:-10px;">
          <app-chat></app-chat>
      </li>
   </ul>

   <div class="tab-content rounded" id="myTabContent">
     <div class="tab-pane fade show active h-100" id="live" role="tabpanel" aria-labelledby="live-tab">
          <!--Content tab-->
              <!--report-->
              <app-current-report ></app-current-report>
              <!--report-->
              <div class="w-100 float-right btn-zoom-group my-4">
                  <div class="btn-zoom d-inline-block">
                      <button class="zoom-out bg-light d-inline-block p-1 maximise" id="zoom-out"  onclick="zoomin()"><img src="./../../../../../../assets/images/icon/maximise.png" class="size-map " alt=""></button>
                      <button class="zoom-out bg-light d-inline-block p-1 minimise" id="zoom-in"  onclick="zoomout()"><img src="./../../../../../../assets/images/icon/minimise.png" class="size-map" alt=""></button>
                   </div>
               </div>
              <!--Map-->
              <div class="map w-100 text-center" id="map"  style="position: relative" id="map-office">
                 <canvas id="myCanvas" width="1600" height="480"></canvas>
              </div>
              <!--End Map-->
          <!--End Content tab-->
     </div>
      <div class="tab-pane fade h-100" id="overview" role="tabpanel"  aria-labelledby="overview-tab">
          <!--over view-->
          <div id="carouselExampleFade" class="carousel slide carousel-fade"
             data-ride="carousel">
            <div class="carousel-inner">
                <!--CHART 1-->
                <div class="carousel-item active">
                    <!--HEAD-->
                    <div class="chart1--head justify-content-between">
                        <div class="head--left">
                            <a style="letter-spacing: 1px;">VIEW BY DAY </a> &nbsp;
                            <input type="text" class="text-uppercase" id="datepicker">&nbsp;&nbsp;&nbsp;<i
                                onclick="show_dp();"
                                class="fas fa-caret-down dropdate"></i>
                        </div>
                        <button id="abc">DOWNLOAD REPORT</button>
                    </div>
                    <!--CHART-->
                    <div class="chart1--body w-75 m-auto">
                        <div id="container"
                             style="min-width: 100%; height: 400px; margin: 0 auto"></div>
                    </div>
                    <!--FOOTER-->
                    <div class="chart--footer">
                        <a style="color: #b3aeae;"> Toltal number of visits: <a id="sumNum">157</a></a>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--1 ">
                                    <p class="text-white box--1--txt">Audit</p>
                                    <p class="text-white box--1--num">20</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--2">
                                    <p class="text-white box--1--txt">Tax</p>
                                    <p class="text-white box--1--num">42</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--3 ">
                                    <p class="text-white box--1--txt">Advisory</p>
                                    <p class="text-white box--1--num">40</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--4 ">
                                    <p class="text-white box--1--txt">Central Services</p>
                                    <p class="text-white box--1--num">55</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CHART 2-->
                <div class="carousel-item">
                    <!--HEAD-->
                    <div class="chart1--head justify-content-between">
                        <div class="head--left">
                            <a style="letter-spacing: 1px;">VIEW BY MONTH </a> &nbsp;
                            <input type="text" class="text-uppercase" id="datepicker2">&nbsp;&nbsp;&nbsp;<i
                                onclick="show_dp2();"
                                class="fas fa-caret-down dropdate"></i>
                        </div>
                        <button id="abc2">DOWNLOAD REPORT</button>
                    </div>
                    <!--CHART-->
                    <div class="chart2--body m-auto">
                        <div id="container2" style="height: 370px; width: 100%;"></div>
                    </div>
                    <!--FOOTER-->
                    <div class="chart--footer">
                        <a style="color: #b3aeae;"> Toltal number of visits: <a id="sumNum2">602</a></a>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--1">
                                    <p class="text-white box--1--txt">Audit</p>
                                    <p class="text-white box--1--num">200</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--2">
                                    <p class="text-white box--1--txt">Tax</p>
                                    <p class="text-white box--1--num">102</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--3">
                                    <p class="text-white box--1--txt">Advisory</p>
                                    <p class="text-white box--1--num">100</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div align="center" class="chart--box box--4">
                                    <p class="text-white box--1--txt">Central Services</p>
                                    <p class="text-white box--1--num">200</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CHART 3-->
                <div class="carousel-item">
                    <div class="carousel-item active">
                        <!--HEAD-->
                        <div class="chart1--head justify-content-between">
                            <div class="head--left">
                                <a style="letter-spacing: 1px;">VIEW BY ZONES </a> &nbsp;
                                <input type="text" class="text-uppercase" id="datepicker3">&nbsp;&nbsp;&nbsp;<i
                                    onclick="show_dp3();"
                                    class="fas fa-caret-down dropdate"></i>
                            </div>
                            <button id="abc3">DOWNLOAD REPORT</button>
                        </div>
                        <!--CHART-->
                        <div class="chart1--body w-75 m-auto">
                            <div id="container3"
                                 style="min-width: 100%; height: 400px; margin: 0 auto"></div>
                        </div>
                        <!--FOOTER-->
                        <div class="chart--footer">
                            <a style="color: #b3aeae;"> Top 3 Zones in : <a id="sumNum3">August</a></a>
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div align="center" class="chart--box box--5">
                                        <p class="text-white box--1--txt">Bar</p>
                                        <div class="d-flex">
                                            <div class="border--icon"><img src="assets/images/icon/ico_bar.png" ></div>
                                            <p class="text-white box--1--num">613</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div align="center" class="chart--box box--6">
                                        <p class="text-white box--1--txt">Bar</p>
                                        <div class="d-flex">
                                            <div class="border--icon bor--icon2"><img src="assets/images/icon/ico_fun.png" ></div>
                                            <p class="text-white box--1--num">613</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div align="center" class="chart--box box--7">
                                        <p class="text-white box--1--txt">Bar</p>
                                        <div class="d-flex">
                                            <div class="border--icon bor--icon2"><img src="assets/images/icon/ico_collaborate.png"></div>
                                            <p class="text-white box--1--num">613</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade"
               role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="false"><i
                        style="color: black" class="fa fa-chevron-left"
                        aria-hidden="true"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade"
               role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i
                        style="color: black" class="fa fa-chevron-right"
                        aria-hidden="true"></i></span>
                <span class="sr-only">Next</span>
            </a>
      </div>
          <!-- end over view-->
</div>
   </div>
</div>


<!--imformation one person-->
<div id="member-detail" class="sidenav w-100">
            <div class="sideBarSearch d-flex justify-content-end m-5">
                <a href="javascript:void(0)" class="closebtn d-inline-block text-secondary" onclick="closeNav('#member-detail')">×</a>
            </div>
            <div class="p-5" >
                <div class="member-infor-detail d-flex" >
                    <img src="{{infor.file}}" [style.border-color]="infor.color" alt="Avatar Mr-bean" class="avatar mr-3">
                    <div class="more-detail text-left">
                        <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor.color">{{infor.office_location}}</span>
                        <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                        <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                        <span class="sub-name h4 m-0">{{infor.email}}</span>
                    </div>
                </div>
                <div class="dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
                    <div class="title mr-4">DOB</div>
                    <div class="dateofbirth bold">{{infor.birthday}}</div>
                </div>
                <div class="contact py-3 contact-detail h4 d-flex justify-content-center">
                    <div class="title mr-4">Contact</div>
                    <div class="list-number d-inline-block">
                        <div class="number bold d-block">{{infor.contact_no}}</div>
                    </div>
                </div>
                <div class="top-favorite mt-4">
                    <div class="my-4 favarite-title h4 text-left" data-profile="tax" [style.color]="infor.color" >Top 3 Favorite Zones</div>
                    <!-- each favorite -->
                    <ng-container *ngFor="let fv of infor.topzone">
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">{{fv.name}}</div>
                        <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax" [style.background]="infor.color"></div>
                        <span class="number-percent" data-profile="tax" [style.color]="infor.color">{{fv.percent}}%</span>
                    </div>
                    <!-- each favorite -->
                  </ng-container>
                    <!-- each favorite -->
                </div>
                <!-- button Send Email-->
                <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMember" onclick="closeNav('#member-detail')" style="font-size: 14px;" (click)="getLogPerson(infor.person_id)">
                    More Details
                    <img class="ml-3" src="./../../../../../../assets/images/icon/ico_right_slide.png" alt="">
                </div>
                <!-- button Send Email-->
            </div>
        </div>
<!--Modal Box detail porfile-->
 <!--More Detail Profile modal box-->
        <div class="detail-member modal fade" id="moreDetailInforMember" tabindex="-1" role="dialog" aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 m-4 pr-5">
                        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body h-100 p-0">
                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col-4 left">
                                    <div class="p-5 border-right" >
                                        <div class="member-infor-detail d-flex" >
                                            <img src="{{infor.file}}" alt="Avatar Mr-bean" class="avatar mr-4" [style.border-color]="infor.color">
                                            <div class="more-detail text-left">
                                                <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor.color">{{infor.office_location}}</span>
                                                <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                                                <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                                                <span class="sub-name text-muted h4 m-0">{{infor.email}}</span>
                                            </div>
                                        </div>
                                        <div class="dob py-3 contact-detail mt-4 h4">
                                            <div class="title mr-4">DOB</div>
                                            <div class="dateofbirth bold">{{infor.birthday}}</div>
                                        </div>
                                        <div class="contact py-3 contact-detail h4">
                                            <div class="title mr-4">Contact</div>
                                            <div class="list-number d-inline-block bold">
                                                <div class="number d-block">{{infor.contact_no}}</div>

                                            </div>
                                        </div>
                                        <div class="top-favorite mt-4">
                                            <div class="my-4 favarite-title h4" data-profile="tax" [style.color]="infor.color" >Top 3 Favorite Zones</div>
                                             <!-- each favorite -->
                                               <ng-container *ngFor="let fv of infor.topzone">
                                               <div class="each-favorite d-flex align-items-center h5">
                                                   <div class="title">{{fv.name}}</div>
                                                   <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax" [style.background]="infor.color"></div>
                                                   <span class="number-percent" data-profile="tax" [style.color]="infor.color">{{fv.percent}}%</span>
                                               </div>
                                               <!-- each favorite -->
                                             </ng-container>

                                        </div>
                                        <!-- button Send Email-->
                                        <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                                        <!-- button Send Email-->
                                    </div>
                                </div>
                                <!--Right modal box detail profile-->
                                <div class="col-8 right">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Day <img src="./../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Time In <img src="./../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Zones <img src="./../../../../../../assets/images/icon/ico_sort.png" alt=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let log of logs ">
                                                <th scope="row">{{log.ngay}}</th>
                                                <td>{{log.gio}}</td>
                                                <td>{{log.zone_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End right modal box detail profile-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--More Detail Profile modal box-->
