<div class="show-content-right mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link text-uppercase active" id="clubhouse-tab" data-toggle="tab" href="#clubhouse" role="tab" aria-controls="profile" aria-selected="true"> CLUBHOUSE</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-uppercase" id="external-tab" data-toggle="tab" href="#external" role="tab" aria-controls="profile" aria-selected="false"> EXTERNAL</a>
      </li>
      <li class="position-absolute" style="right:10px;top:-10px;">
          <app-chat></app-chat>
      </li>

  </ul>
  <div class="tab-content rounded" id="myTabContent">
      <div class="tab-pane fade show active" id="clubhouse" role="tabpanel" aria-labelledby="clubhouse-tab">
      <div class="feed-content" id ="feed-content">
      <div id="calendar" style="margin-top: 10px"></div>
      <!---->
 <div class="card_list">
     <!--Repeat-->
     <div class="list-calendar">
     <ng-container *ngFor="let item of dataMonth">
     <div class="one-moth">
         <h2 class="month">{{item.title}}</h2>
         <div class="row mt-5" >

             <div class="col-6 item_card" *ngFor="let event of item.event">
                 <div class="row ml-4">
                     <div class="col-12 ">
                         <div class="row item_list">
                             <div class="col-4" style="padding: 0 7px">
                                 <img src="{{event.file}}" style="width: 140px;height: 100px">
                             </div>
                             <div class="col-6 content_card">
                                 <span style="font-weight: bold;font-size: 1.25rem; display: block">{{event.title}}</span>
                                 <span>{{event.description}}</span>
                             </div>
                             <div class="col-2">
                                 <img class="remove_item" style="float: right" src="./../../../../../../assets/images/icon/close.png" (click)="deleteEvent(event.id)">
                             </div>
                         </div>
                     </div>
                     <div class="col-12 pr-0 mt-2">
                         <span style="color: #b1acac; font-size: 14px; float: right">08 Aug 08:00 AM - 08 Oct 10:00 PM</span>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row mt-5 mb-3">
                      <div class="col-2 offset-5" style="height: 5px;background-color:#eae6e6"></div>
                  </div>
         </div>

     </ng-container>
     </div>
     <!--Repeat-->
 </div>
</div>

<!--modal-->
<div class="modal fade" id="modal-addfeed">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" name="form-addFeed">
            <div class="modal-header" id="modal_head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Clubhouse Feed</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div id="add_image">
                            <img class="m-5 plus_img" id="plus_img" src="./../../../../../../assets/images/icon/maximise%20grey.png">
                            <label for="margin" style="margin-bottom: 0"><img class="blah0" src=""></label>
                            <div class="mb-3" id="btn_addimg" style="margin-top: 11px;">
                                <!--<button type="button" id="add_img">ADD IMAGE</button>-->
                                <label id="add_img" for="margin">ADD IMAGE</label>
                                <input type="file" id="margin" class="add_img" name="margin" accept="image/*" onchange="readURL(this);"  style="display: none" #file_img [(ngModel)]="feed.file" >
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Title" id="title" [(ngModel)]="feed.title" name="title">
                            </div>
                            <div class="col-12 mt-4">
                                <textarea class="form-control" placeholder="Description" rows="6" id="description" [(ngModel)]="feed.description" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="start_day" class="form-control datepicker" style="padding-left: 10px;" placeholder="Start Date" #date_start [(ngModel)]="feed.date_start" name="date-start">
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group date_feed">
                            <input type="text" id="end_day" class="form-control datepicker" style="padding-left: 10px;" placeholder="End Date" #date_end [(ngModel)]="feed.date_end" name="date-end">
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-1 mr-4">
                        <span>Recurrence</span>
                    </div>
                    <div class="col-6">
                        <div class="rounded-circle recurrence ml-3 feed-time" id="choose0" (click)="getRecurrence(15)">
                            <span class="minute">15</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                        <div class="rounded-circle recurrence ml-3 feed-time" id="choose1" data-value="30" (click)="getRecurrence(30)">
                            <span class="minute">30</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                        <div class="rounded-circle recurrence ml-3 feed-time" id="choose2" data-value="60" (click)="getRecurrence(60)">
                            <span class="minute">60</span>
                            <span style="font-size: 13px;">min</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <button type="button" id="add_feed" data-dismiss="modal" (click)="addFeed(file_img,date_start,date_end)" >ADD FEED</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
         </div>
     </div>
     <div class="tab-pane fade" id="external" role="tabpanel" aria-labelledby="external-tab">
         <div class="d-flex justify-content-center mt-5">
             <div class="col-8 p-3 btn-wip" style="text-align: center">
                 <span style="color: white;font-weight: bold">WIP</span>
             </div>
         </div>
     </div>
 </div>
 <!-- End show content-->
 <!--End content right-->
 </div>
